*{
    margin: 0;
    padding: 0;
}
.head_photo{
    background-image: url(./Source/photo_2026-04-25_17-28-27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 1280px;
    align-items: center;
    justify-content: center;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.desriptions{
    gap: 14px;
    color: aliceblue;
    margin-left: 480px;
    margin-top: 480px;
    /* display: flex;
    flex-direction: column;
    height: 1280px;
    align-items: center;
    justify-content: center; */
    /* position: absolute;
    top: 620px;
    left: 1000px; */
}

.desriptions > h6{
    font-size: 16px;
    margin-top: 440px; 
    margin-left: 280px;
    letter-spacing: 3.7px;
}
.desriptions > h4{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-left: 140px;
}
.desriptions > h1{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 5.70937px;
}
.play_menu{
    padding: 14px;
    border-bottom: 4px solid black;
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 120px;
    padding: 4px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #48555B;
}
.button{
    margin: 20px 60px 20px 0px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.09091px;
}
.button > h2{
    transition: all 1s;
}
.button > h2:hover{
    transition: all 1s;
    color: skyblue;
}
footer{
    background-color: #171819;
    height: 100px;
}
.news{
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: 60px;
    position: absolute;
    top: 1400px;
    left: 680px;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.news > h4{
    display: inline-block;
    color: aliceblue;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}
.form{
    display: flex;
    flex-direction: row;
    margin-left: 260px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.email{
    padding: 10px 60px 10px 16px;
    background-color: whitesmoke;
    color: grey;
    border: 0.5px solid dodgerblue;
    border-radius: 44px;
}
.submit{
    background-color: dodgerblue;
    color: whitesmoke;
    display:flex;
    align-items: center;
    margin-left: -34px;
    border-radius: 44px;
    padding: 0px 40px 0px 40px;
}


