.card {
  display: block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%
}
.back{
  background: red;
  width: fit-content;
  height: fit-content;
  margin: 8px;
  padding: 20px;
  border-radius: 60px;
  box-shadow: 4px 4px 20px black;
}