.FilmCard{
  background: crimson;
  color: gold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  flex-basis: calc(33.33% - 10px);
  border-radius: 46px;
  box-shadow: 8px 8px 18px red;
  padding: 12px;
  width: 14vh;
  height: fit-content;
}
.high-rating{
  background: gold;
  color: crimson;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  flex-basis: calc(33.33% - 10px);
  border-radius: 46px;
  box-shadow: 8px 8px 18px goldenrod;
  padding: 12px;
  width: 14vh;
  height: fit-content;
}

.FilmMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  gap: 10px;   
}
.search-container{
  margin: 10px;
}
.Спокойный{
  background: green;
  border-radius: 28px;
  border: 2px solid green;
  color: white;
  width: fit-content;
}
.Радостный{
  background: blueviolet;
  border-radius: 28px;
  border: 2px solid blueviolet;
  color: white;
  width: fit-content;

}
.Спит{
  background: blue;
  border-radius: 28px;
  border: 2px solid blue;
  color: white;
  width: fit-content;

}
.Отдохнувший{
  background: red;
  border-radius: 28px;
  border: 2px solid red;
  color: white;
  width: fit-content;

}
button{
  color: white;
  margin: 6px;
  font-size: medium;
  font-weight: 400;
  background: rgb(2, 4, 160);
  border-radius: 28px;
  padding: 6px;
}
.Info{
  color: white;
  font-weight: 20;
  background: cornflowerblue;
  border-radius: 28px;
  padding: 2px;
}

.GoTo{
  background: ghostwhite;
}
.clear{
text-decoration: none;
color: green;
font-weight: 600;
}
body{
  background: antiquewhite;
}
input{
  background: whitesmoke;
  padding: 8px;
  border-radius: 34px;
  margin: 6px;
  color: red;
}